<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">Jala Academy Technologies<div>
    </header>
    <div class="hero-section">
        <div class="hero-content">
            <h2>Welcome to Jala Academy</h2>
            
                <div class="login-container">
                    <form method="POST" action="{% url 'signin' %}">
                        {% csrf_token %}    
                        <input type="email" name="email" id="email" placeholder="Enter Email" required><br>
                        <input type="password" name="password" id="password" placeholder="Enter Password" required><br>
                        <input type="text" name="confirm" id="confirm" placeholder="Confirm Password" required><br>
                        <div class="checkbox-container">
                            <input type="checkbox" id="remember-me">
                            <label for="remember-me">Remember Me</label>
                        </div><br>
                        <button type="submit" id="signin">Sign-In</button>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <p>JALA Academy offers Job Guaranteed Programs for Freshers to 12 years’ experience on Full Stack Development / Automation Testing / Dev-Ops / QA/ SDET/Cyber Security / RPA / Cloud Technologies.</p>
            <p>Training would be completely on live Project scenarios Read our website JALA Academy for more details: <a href="https://jalaacademy.com/">https://jalaacademy.com/</a></p>
        </footer>
        
    </body>
    </html>